*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	margin: 0;
}

.rating-bg-bad {
	background-color: rgb(228, 45, 45);
}

.rating-bg-good {
	background-color: rgb(60, 60, 221);
}

.rating-bg-perfect {
	background-color:  rgb(70, 230, 38);
}

.card-rating {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.project-img {
	width: 100%;
	height: 150px;
}

.project-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.py-5-middle-container{
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
flex-direction: column;
	
	
}

.search{
	width:100%;
	box-sizing: border-box;
}
h3{
	align-self: flex-start;
}
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mt{
font-size: 20px;
}

